.AboutUs
    background-color #fff
    .head-img
        width 100%
    .body-content
        padding 10px
        p
            color #333
            font-size 12px
        .tiny-title
            font-weight bold
            font-size 14px
