.error-page
    text-align center
    padding 70px 0 20px
    img
        height 160px
        width 160px
    h2
        font-size 16px
        margin-top 30px
    .text
        text-align left
        width 140px
        margin 30px auto
        p
            margin-bottom 0
