@import '../../base'
.btn
    outline 0
    padding 7px 8px
    font-size 14px
    border-radius 5px
.btn-red
    background cred
    border-width 0
    color #fff
    &:active
        background #de5446
.btn-radius
    border-radius 30px
.btn-primary
    background cblue
    border-width 0
    &:active
        background #007db9
.btn-positive
    background cred
    color #fff
    border-width 0
    &:active
        background #b4201e
.btn-info
    background #00d19f
    color #fff
    border-width 0
    &:active
        background #00b49f
.btn-disable
    background #f2f2f2
.btn-outlined
    background transparent
    border-width 1px
.btn-block
    font-size 18px
    font-weight normal
    padding 15px 0
.btn-lg
    padding 15px 20px
    font-size 18px
.btn-outlined.btn-primary
    color cblue
    border-color cblue
    &:active
        color #007db9
        border-color #007db9
.btn-rounded
    border-radius 40px
