@import '../../base'
.frontpage
    .project-filters
        width 100%
        background #fff
        display table
        overflow hidden
        padding 15px 0
        .filter-item
            display table-cell
            line-height 1
            text-align center
            border-right 1px solid border
            color #666
            width 25%
            &:last-child
                border none
            &.selected
                color cblue
    ul.link-array
        display table
        font-size 12px
        background-color #fff
        width 100%
        li
            display table-cell
            text-align center
            padding 20px
            svg
                width 60px
                height 60px
