@import '../../base'
.frontpage
    padding 10px
    .logo
        margin 100px auto
        width 80px
    .size12
        font-size 12px
    .fixBottom
        position absolute
        bottom 0
        width 100%
