@import '../../base'
.frontpage
    padding 10px
    .logo
        margin 100px auto
        width 80px
    .size12
        font-size 12px
    .fixBottom
        position absolute
        bottom 0
        width 100%
    img.figure2
        position absolute
        right 0
        width 100px
    img.figure1
        position absolute
        left 0
        width 100px
        top 200px
