@import '../../base'
.global-header
    z-index 11
    border none
    box-shadow none
    background-color #fff
    .title
        color #444
        width 70%
        margin 0 auto
        left 50%
        transform translate3d(-50%, 0, 0)
        overflow hidden
        text-overflow ellipsis
        padding-top: 3px
        img
            width: 75px
    .icon-bars
        color #fff
    .nav-icon, .icon-bars
        position relative
        z-index 20
        font-size 22px
        color gray
        display inline-block
        height 44px
        line-height 44px
        padding 0
        &>span:last-child
            font-size 16px
