<!DOCTYPE HTML>
<html>
    <head>
        <title>云筹</title>
        <style>
            *{
                padding: 0;
                margin: 0;
            }
            body{
                background: #fdc62b;
            }
            .welcome-container img {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="welcome-container">
            <a href="/welcome/landing?Source=ad">
                <img src="/assets/images/pages/welcome.png" />
            </a>
        </div>
    </body>
    <script>
        var _hmt = _hmt || [];
        var _czc = _czc || [];
        (function() {
            var hm = document.createElement("script");
            hm.async = true;
            hm.src = "//hm.baidu.com/hm.js?65907fec7c9a2eff2c93dfbadb7d25f7";
            var cnzz = document.createElement("script");
            cnzz.async = true;
            cnzz.src = "//w.cnzz.com/q_stat.php?id=1256866725";
            var s = document.getElementsByTagName("body")[0];
            s.appendChild(hm);
            s.appendChild(cnzz);
        })();
    </script>
</html>
