.auth
    .logo
        text-align center
        padding 24px
        &>img
            width 156px
    .text-nav
        color #96999F
        font-size 16px
    .text-comment
        color #CACCCF
    .p16
        padding 16px
    .password-notice
        color #444
        .yellow
            color #F16051
