.auth
    .input-group
        &>img
            position absolute
            right 5px
            top 12px
            z-index 100
        .btn-positive
            background-color #fff
            color #72b8d7
            font-size 12px
            border-width 1px
            border-color #72b8d7
            border-style solid
            border-radius 17px
            position absolute
            right 5px
            top 10px
            z-index 100
            width auto
            height auto
            line-height 14px
            &:active
                background-color #72b8d7
                color #fff
    .logo
        text-align center
        padding 24px
        &>img
            width 156px
    .text-nav
        color #96999F
        font-size 16px
        &>p
            font-size 16px
    .text-comment
        color #CACCCF
    .p16
        padding 16px
    .password-notice
        color #444
        font-size 12px
        .yellow
            color #F16051
