.identity
    .text-notice
        margin 10px 0
    .logo
        text-align center
        img
            width 300px
    .input-group
        background-color #fff
        .sendSms
            input
                width 40%
                float left
            button
                font-size 14px
                height 40px
                padding 7px
        .input-row
            height 40px
            label
                height 40px
                padding 10px 15px
                line-height 20px
            input
                text-align right
            select
                border none
                height 39px
    .p20
        padding 20px
        .btn-other
            width 100%
            line-height 16px
            position inherit
