@import '../../base'
.auth
    .login-body
        padding 30px
        .logo
            width 80px
            margin 20px 0 60px
        .foot-list
            display flex
            justify-content center
            width 100%
            margin-top 100px
            li
                padding 0 20px
                &:first-child
                    border-right 1px solid
