.upload
    background-color #fff
    .bodyContainer
        padding 20px
        h4>span.size12
            color #666
            font-size 12px
            margin-left 10px
        img
            margin-bottom 10px
