@import '../../../base'
.address-list-cmp
	.change-address, .delete-address
		border-top solid 1px border
		padding-top 10px
		text-align right
	.change-adress-link, .delete-adress-link
		color font
		.iconfont
			font-size 14px
			margin-right 5px
	.address.box
		position relative
		&.selected
			.select-btn
				color cred
	.select-btn
		background transparent
		border none
		padding 0
		position absolute
		top 15px
		right 15px
		font-size 28px
		height 28px
		width 28px
