.checkbox-group
    &>label:first-child
        display: block
    .checkbox
        input
            display: none
        span
            border: 1px solid #e6e6e6
            padding: 4px
            float: left
            text-align: center
            margin-right: 15px
            border-radius: 3px
            margin-bottom: 10px
            color #b3b3b3
    .checkbox.checked
        span
            border: 1px solid #00b7ee
            color: #00b7ee
