.image-input
    position: relative
    overflow: hidden
    width: 260px
    input
        position: absolute
        z-index: 9
        font-size: 100px
        top: 0
        left: 0
        opacity: 0
    img
        display: block
        width: 260px
        height: 164px
