.item-input
    background #fff
    border 1px solid #EAEBEC
    border-left none
    border-right none
    display flex
    -webkit-box-align center
    align-items center
    position relative
    overflow hidden
    padding 6px 0 5px 16px
    text-overflow ellipsis
    white-space nowrap
    color #444
    font-size 14px
    z-index 2
    margin -1px
    &.has-error
    border 1px solid #c00
    .input-label
        width auto
        font-size 16px
        display table
        padding 7px 10px 7px 0
        max-width 200px
        color #62666f
        margin 0
    input
        background #fff
        border none
        display flex
        -webkit-box-align center
        align-items center
        position relative
        overflow hidden
        padding 6px 0 5px 16px
        text-overflow ellipsis
        white-space nowrap
        color #444
        font-size 14px
        z-index 2
        margin -1px
.error-message
    padding 10px 0 0 16px
    color #c00
