@import '../../base'
.home
    .user
        h1
            font-size 14px
            padding-top 8px
            margin-left 40px
            font-weight normal
            span.left-des
                float left
            span.right-des
                float right
        img
            float left
            height 30px
            width 30px
            border-radius 50%
    .table-view
        border none
        .iconfont
            color gray
            margin-right 10px
    .logout
        padding 10px 15px
        margin-top 50px
        .logout-btn
            border-box()
            display block
            width 100%
            border none
            font-size 14px
            border-radius 5px
    .j-table-view
        margin 10px 0 20px
        background-image url(/assets/images/perindex/me-bg.png)
        width 100%
        height 100px
        background-position 0 0
        background-size 100% 100%
        background-color #f0f0f0
        .table-view-cell
            padding 25px 65px 40px 15px
