.userInfo
    ul
        background-color #fff
        margin-top 10px
        .arrow
            position relative
            a
                color #666
            .right
                margin-right 20px
        li
            padding 15px
            clear both
            border-top 1px solid #eeeeee
            .right
                float right
            .select-cmp
                float right
                width 50%
                margin-bottom 0
                padding-right 30px
                select
                    margin-bottom 0
                    border none
                    padding 0
                    direction rtl
    .saveBtn
        padding 20px
