vendor-prefixes ?= webkit official
support-for-ie ?= false
@import 'nib'
cblue = #00b7ee
cred = #d1201e
cgreen = #00d19f
black0 = #000
black1 = #666
black2 = #bbb
black3 = #d2d2d2
black4 = #f2f2f2
black5 = #f5f5f5
border = #d2d2d2
error = #cc0000
bborder = #e1e1e1;
background = black5
font = black1
link = cblue
muted = black2

border-box()
    background #fff 
    border-top solid 1px transparent
    border-bottom solid 1px transparent
    padding 10px 15px
    margin-bottom 10px

box()
    background #fff
    padding 10px 15px
    margin-bottom 10px 
    