.address-selector
	.address-selector
		display table
		width 100%
		border-collapse collapse
		.select-cmp
			display table-cell
			width 33.3333%
			border-right 10px solid transparent
			&:last-child
				border none
