.carousel
    position relative
    overflow hidden
    img
        width: 100%
    .carousel-item
        min-height 50px
        float left
        box-sizing border-box
        img
            width: 100%;
            height: auto;
