.fixed-bar
    position relative
    width 100%
    z-index 10
    &.fixed
        .fixed-bar-content
            box-shadow 0 1px 1px rgba(0, 0, 0, .2)
    .fixed-bar-content
        position absolute
        top 0
        left 0
        width 100%
        .list-filters
            width: 100%;
            background: #fff;
            display: table;
            overflow: hidden;
            padding: 15px 0;
            .filter-item
                display: table-cell;
                line-height: 1;
                text-align: center;
                border-right: 1px solid #d2d2d2;
                color: #666;
                width: 25%;
                &.selected
                    color #00b7ee
