.footer_container
    display table
    width 100%
    position fixed
    bottom 0
    margin-bottom 0
    background-color #fff
    padding 15px 5px 5px
    dt
        display table-cell
        text-align center
        a
            color #bbb
        a.active
            color #eeae10
        .iconfont
            font-size 36px
        span:last-child
            width 100%
            display block
