@import '../../app/base'
dl.footer_container
    display table
    width 100%
    position fixed
    bottom 0
    margin-bottom 0
    background-color #fff
    padding 5px
    border 1px solid #EAEBEC
    dt
        display table-cell
        text-align center
        a
            color #bbb
        a.active
            color yellow
        .iconfont
            font-size 30px
        span:last-child
            width 100%
            display block
