@import '../../app/base'
.message-card
    background #fff
    padding 10px 15px
    margin-bottom 10px
    .card-header
        border-bottom solid 1px cblue
        clearfix()
        h4
            font-size 14px
            color #000
            float left
            border-bottom solid 1px cblue
            padding-bottom 5px
            margin 0
    .card-content
        padding-top 10px
        font-size 12px