@import '../../app/base'
.verification-modal
    .captcha-image
        float right
        height 40px
        margin-left 10px
        border-radius 3px
    .error-block
        text-align left
        color error
        margin -9px 0 6px
        clear both
    .captcha-input
        margin-right 110px
    .btn-half
        font-size 18px
        font-weight normal
        padding 15px 0
        width 45%
    .mr-10
        margin-right 10%       
