@import '../../base'
.login
    padding-top 10px
    .submit-btn
        margin-bottom 30px
    .otherLogin
        font-size: 16px
        color: #d2d2d2
        margin-bottom: 30px
    .oauth

        .qq
            font-size: 60px
            margin-right: 20px
            color: #ffa01f
        .weibo
            font-size: 60px
            color: ff6666
