@import '../../base'
.register
    padding-top 10px
    .radio-group
        &>label:first-child
            float left
            width 100%
            margin-bottom 5px
        .radio-box
            float left
            width 25%
            margin-bottom 15px

.terms-link
    position absolute
    left 0
    right 0
    width 100%
    bottom 10px
    p
        color muted
