.companyInfo
    ul
        background-color #fff
        margin-top 10px
        li
            padding 15px
            clear both
            border-top 1px solid #eeeeee
            input
                float right
                text-align right
                width 50%
                border none
                padding 0
                height auto
                outline none
            .error-message
                text-align center
                color #e0333f
    .saveBtn
        padding 20px
