.perindex
    .bodyContent
        margin 20px 15px
        .block
            a
                text-decoration underline
                color #666
        .bank-card
            position relative
            p
                position absolute
                color #fff
            .size12
                font-size 12px
            .applied-amount
                bottom 40px
                left 10px
            .has-borrow
                bottom 20px
                left 10px
                font-size 26px
            .available-amount
                bottom 50px
                right 10px
            .can-borrow
                right 10px
                bottom 25px
                color #dcba86
                font-size 40px
            img
                max-width 100%
