.recordPage
    .bodyContent
        background #fff
        padding 10px
        .payBack
            li
                padding 10px
                background #fff
                z-index 20
                border-bottom 1px solid #ececec
                .check
                    display inline-block
                    width 20px
                    height 20px
                    background url('/assets/images/perindex/check.png') no-repeat
                    background-size 100% 100%
                .textRight
                    float right
                span
                    z-index 10
            li.active
                .check
                    background url('/assets/images/perindex/check-in.png') no-repeat
                    background-size 100% 100%
            li:last-child
                border-bottom none
        button
            margin-top 10px
