.wechat-auth
    .welcome
        background #fff
        text-align center
        padding 20px
        margin-bottom 20px
    .welcome-text
        text-align left
    .welcome-logo
        width 111px
        height 27px
        margin-bottom 20px