.product-wechat-share-cmp
    position fixed
    z-index 28
    height 100%
    width 100%
    left 0
    right 0
    top 0
    bottom 0
    color #fff
    text-align right
    padding-top 50px
    padding-right 15px
    background rgba(0, 0, 0, .7) url('/assets/images/products/share.png') no-repeat 95% 10px
    background-size 36px 30px
    &.visible
        display block
    p
        color #fff
        margin-bottom 0
    div
        margin-bottom 15px
.wechat-share
    position fixed
    z-index 28
    height 100%
    width 100%
    left 0
    right 0
    top 0
    bottom 0
    color #fff
    text-align right
    padding-top 5px
    padding-right 30px
    display none
    background-color rgba(0, 0, 0, .7)
    &.visible
        display block
.shareOut
    .shareImg
        height 160px
